<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/restaurantdb?serverTimezone=CET</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    	<property name="hbm2ddl.auto">update</property>
       	<property name="show_sql">false</property>
        
      	<property name="hibernate.c3p0.min_size">5</property>
	  	<property name="hibernate.c3p0.max_size">20</property>
	  	<property name="hibernate.c3p0.timeout">300</property>
	  	<property name="hibernate.c3p0.max_statements">1000</property>
	  	<property name="hibernate.c3p0.max_statements_per_connection">100</property>
	  	<property name="hibernate.c3p0.idle_test_period">3000</property>
	
	
       	<mapping class="com.caramel.restaurant.model.view.foodscroller.Food" />      
       	<mapping class="com.caramel.restaurant.model.view.image.ImageView" />
       	<mapping class="com.caramel.restaurant.model.view.message.Message" />
       	<mapping class="com.caramel.restaurant.model.view.message.NumericMessage" />
       	<mapping class="com.caramel.restaurant.model.view.reservation.Reservation" />
       	<mapping class="com.caramel.restaurant.model.users.User" />
       	<mapping class="com.caramel.restaurant.model.users.UserRole" />
   </session-factory>
</hibernate-configuration> 